<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.celer.hello" android:versionCode="1" android:versionName="1.0" android:installLocation="auto">
  <supports-screens android:smallScreens="true" android:normalScreens="true" android:largeScreens="true" android:xlargeScreens="true"/>
  <application android:allowBackup="true" android:icon="@mipmap/icon" android:label="Hello World">
    <activity android:name=".Main" android:exported="true">
      <intent-filter>
        <category android:name="android.intent.category.LAUNCHER"/>
        <action android:name="android.intent.action.MAIN"/>
      </intent-filter>
    </activity>
    <meta-data android:name="android.max_aspect" android:value="2.1"/>
  </application>
  <uses-sdk android:minSdkVersion="1" android:targetSdkVersion="29"/>
</manifest>
